<%- include('../partials/header')%>


<div class="container">
    <div class="row">

        <div class="col-lg-3">
            
        </div>
        
        <div class="col-lg-6 mt-4">
                <h1>Sign-up Page</h1>

                <div class="mb-3">
                    <% if(message && message.length){ %>
                        <p><%= message %></p>

                    <% } %>
                    
                </div>


                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="username">First Name:</label>
                        <input type="text" class="form-control" name="firstname" id="" placeholder="Firstname">
                    </div>
                    <div class="mb-3">
                        <label for="username">Last Name:</label>
                        <input type="text" class="form-control" name="lastname" id="" placeholder="Lastname">
                    </div>
                    <div class="mb-3">
                        <label for="username">Email:</label>
                        <input type="email" class="form-control" name="email" id="" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" id="" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <label for="username">Password:</label>
                        <input type="password" class="form-control" name="password" id="" placeholder="Password">
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>

            </div>

            <div class="col-lg-3">

            </div>
        </div>
    </div>
    
<%- include('../partials/footer')%>