body{
    background-color: rgb(11, 13, 18);
}

#signup{
    margin-right: 50px;
    margin-left: 50%;
    background-color:azure;
  }


.container{
    margin-top: 15px;
    /* background-repeat: no-repeat; */
  }
  .thumbnails{
    border:1px ;
    border-style: outset;
    width: 75%;
    display: inline-block;
    
  }
  .thumbnails img{
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 80%;
    display: inline-block;
  
  }
  .thumbnails .description{
    color:#7f7f7f;
  }
  .price{
    font-weight: bold;
    font-size:20px;
  }
  